{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Cari Buku{% endblock %}
{% block style %}
        <style>
            #tabel, tr, td {
                border: 1px solid black;
            }
        </style>
{% endblock %}
{% block content %}
        <div class="content">
            <!--add your content here-->
            <h1>Cari Buku</h1>
            <input id="keyword" placeholder="Type your search..." value="">
            <table class="posts" id="tabel">
            </table>
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
        <script>
            $("#keyword").keyup(function() {
                var ketikan = $("#keyword").val();
                $.ajax({
                    url: '{% url "search_api" %}' + '?q=' + ketikan,
                    success: function(data) {
                        $("#tabel").empty();
                        if (data.message != 'No query entered') {
                            $("#tabel").append('<tr><td><b>Judul Buku</b></td></tr>');
                            for (var i = 0; i < data.items.length; i++) {
                                var judul = data.items[i].volumeInfo.title;
                                $("#tabel").append('<tr><td>' + judul + '</td></tr>');
                            }
                        }
                    }
                });
            });
        </script>
{% endblock %}
