body {
    font-family: 'Rubik', sans-serif;
}
.bg-custom {
    background-color: #42ff00;
}
.nav-text {
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.divider-vertical {
    width: 1px;
    height: 50px;
    margin: 0 9px;
    overflow: hidden;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
}
.content {
    // border: 1px solid red;
    position: relative;
    top: 100px;
    padding: 1% 1% 1% 1%;
}
.table-line {
    border-bottom: 1px solid black;
}
.record-table {
    border: 1px solid black;
    border-collapse: collapse;
}
.main-card {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 200px)) 1fr;
    grid-gap: 30px;
    padding: 60px 0;
}
.text--medium {
    font-size: 16px;
    font-weight: 400;
}

.cards {
    grid-column: 2 / span 8;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 200px));
    grid-gap: 30px;
}
.card {
    grid-column-end: span 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media only screen and (max-width: 700px) {
    .card {
        grid-column-end: span 3;
    }
}
