{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Add Course{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
        <div class="content">
            <h1>Add Your Course</h1>
            <form method="POST" action="{% url 'add_course' %}">
                <table>
                    {% csrf_token %}
                    <tr><th><label for="id_course_name">Course Name:</label></th><td>{{ form.course_name }}</td></tr>
                    <tr><th><label for="id_lecturer">Lecturer:</label></th><td>{{ form.lecturer }}</td></tr>
                    <tr><th><label for="id_credits">Credits:</label></th><td>{{ form.credits }}</td></tr>
                    <tr><th><label for="id_description">Description:</label></th><td>{{ form.description }}</td></tr>
                    <tr><td><br></td></tr>
                    <tr><td><input type="submit" value="Add"></td></tr>
                </table>
            </form>
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
        {% if status %}
            <script>
                alert("{{ status }}")
            </script>
        {% endif %}
{% endblock %}
