{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Delete Course{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
        <div class="content">
            <h1>Delete Your Course(s)</h1>
            {% if courses %}
            <form method="POST" action="{% url 'delete_course' %}">
                {% csrf_token %}
                <table class="record-table" style="border: 1px solid black;">
                    <tr><td style="border: 1px solid black;"><strong>Select</strong></td><td style="border: 1px solid black;"><strong>Course Name</strong></td><td style="border: 1px solid black;"><strong>Lecturer</strong></td><td style="border: 1px solid black;"><strong>Credits</strong></td><td style="border: 1px solid black;"><strong>Description</strong></td></tr>
                    {% for course in courses %}
                    <tr><td style="border: 1px solid black;"><input type="checkbox" value="{{ course.id }}" name="deleted"></td><td style="border: 1px solid black;">{{ course.course_name }}</td><td style="border: 1px solid black;">{{ course.lecturer }}</td><td style="border: 1px solid black;">{{ course.credits }}</td><td style="border: 1px solid black;">{{ course.description }}</td></tr>
                    {% endfor %}
                </table>
                <input type="submit" onclick="return confirm('Are you sure to delete selected?')" value="Delete">
            </form>
            {% else %}
            <i>There are no course(s) recorded in the database.</i>
            {% endif %}
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
{% if status %}
    <script>
        alert("{{ status }}")
    </script>
{% endif %}
{% endblock %}
