{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Add event{% endblock %}
{% block style %}
        <!--Add your custom style here-->
{% endblock %}
{% block content %}
        <div class="content">
            <h1>Add Event</h1>
            <form method="POST" action="{% url 'add_event' %}">
                <table>
                    {% csrf_token %}
                    <tr><th><label for="id_name">Name:</label></th><td>{{ form.name }}</td></tr>
                    <tr><th><label for="id_date">Date:</label></th><td><input type="date" id="date" name="date" value="" required></td></tr>
                    <tr><th><label for="id_place">Place:</label></th><td>{{ form.place }}</td></tr>
                    <tr><th><label for="id_description">Description:</label></th><td>{{ form.description }}</td></tr>
                    <tr><td><br></td></tr>
                    <tr><td><input type="submit" value="Add"></td></tr>
                </table>
            </form>
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
        {% if status %}
            <script>
                alert("{{ status }}")
            </script>
        {% endif %}
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
