{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Register Event{% endblock %}
{% block style %}
        <!--Add your custom style here-->
{% endblock %}
{% block content %}
        <div class="content">
            <h1>Register to The Event</h1>
            <p>Fill your name to register event: <strong>{{ event_name }}</strong></p>
            {% if form %}
            <form method="POST" action="{% url 'add_participant' event_id=event_id %}">
                <table>
                    {% csrf_token %}
                    <tr><th><label for="id_name">Name:</label></th><td>{{ form.name }}</td></tr>
                    <tr><td><br></td></tr>
                    <tr><td><input type="submit" value="Add"></td></tr>
                </table>
            </form>
            {% else %}
            <i>Event not found! Please register to another event.</i>
            {% endif %}
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
        {% if status %}
            <script>
                alert("{{ status }}")
            </script>
        {% endif %}
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
