{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Delete Event{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
        <div class="content">
            <h1>Delete event(s)</h1>
            {% if events %}
            <form method="POST" action="{% url 'delete_event' %}">
                {% csrf_token %}
                <table class="record-table" style="border: 1px solid black;">
                    <tr><td style="border: 1px solid black;"><strong>Select</strong></td><td style="border: 1px solid black;"><strong>Event Name</strong></td><td style="border: 1px solid black;"><strong>Date</strong></td><td style="border: 1px solid black;"><strong>Place</strong></td><td style="border: 1px solid black;"><strong>Description</strong></td></tr>
                    {% for event in events %}
                    <tr><td style="border: 1px solid black;"><input type="checkbox" value="{{ event.id }}" name="deleted"></td><td style="border: 1px solid black;">{{ event.name }}</td><td style="border: 1px solid black;">{{ event.date }}</td><td style="border: 1px solid black;">{{ event.place }}</td><td style="border: 1px solid black;">{{ event.description }}</td></tr>
                    {% endfor %}
                </table>
                <input type="submit" onclick="return confirm('Are you sure to delete selected?')" value="Delete">
            </form>
            {% else %}
            <i>There are no event(s) recorded in the database.</i>
            {% endif %}
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
{% if status %}
    <script>
        alert("{{ status }}")
    </script>
{% endif %}
{% endblock %}
