{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Delete Course{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
        <div class="content">
            <h1>Delete Participants(s)</h1>
            {% if participants %}
            <form method="POST" action="{% url 'delete_participant' %}">
                {% csrf_token %}
                <table class="record-table" style="border: 1px solid black;">
                    <tr><td style="border: 1px solid black;"><strong>Select</strong></td><td style="border: 1px solid black;"><strong>Participant Name</strong></td><td style="border: 1px solid black;"><strong>Event Name</strong></td></tr>
                    {% for participant in participants %}
                    <tr><td style="border: 1px solid black;"><input type="checkbox" value="{{ participant.id }}" name="deleted"></td><td style="border: 1px solid black;">{{ participant.name }}</td><td style="border: 1px solid black;">{{ participant.event }}</td></tr>
                    {% endfor %}
                </table>
                <input type="submit" onclick="return confirm('Are you sure to delete selected?')" value="Delete">
            </form>
            {% else %}
            <i>There are no participant(s) recorded in the database.</i>
            {% endif %}
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
{% if status %}
    <script>
        alert("{{ status }}")
    </script>
{% endif %}
{% endblock %}
