{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Events{% endblock %}
{% block style %}
        <!--Add your custom style here-->
{% endblock %}
{% block content %}
        <div class="content">
            <h1>Events</h1>
            {% if events %}
            <!-- reference for css cards: https://www.youtube.com/watch?v=qJf8N46OEMk -->
            <div class="main-card">
                <section class="cards">
                    {% for event in events %}
                    <div class="card">
                        <div class="card__title text--medium">
                            <h4>{{ event.0.name }}</h4>
                        </div>
                        <div class="card__info">
                            <p class="text--medium">{{ event.0.description }}</p>
                            <p class="text--medium">Date: {{ event.0.date }}</p>
                            <p class="text--medium">Place: {{ event.0.place }}</p>
                            <p class="text--medium">Participants:</p>
                            <ul>
                                {% for participant in event.1 %}
                                <li><p class="text--medium">{{ participant.name }}</p></li>
                                {% empty %}
                                <li><p class="text--medium">No Participant yet</p></li>
                                {% endfor %}
                            </ul>
                            <button onclick="window.location.href = '{% url 'add_participant' event_id=event.0.id %}';">Register</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <p><i>There are no event(s) right now.</i></p>
            {% endif %}
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
        <!-- add js here -->
{% endblock %}
