{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Sign In{% endblock %}
{% block style %}
        <!--Add your custom style here-->
{% endblock %}
{% block content %}
        <div class="content">
            <!--add your content here-->
            <h1>Sign In</h1>
            <form method="POST">
                {% csrf_token %}
                <p><input type="text" maxlength="50" name="username" placeholder="username" required></p>
                <p><input type="password" maxlength="100" name="password" placeholder="password" required></p>
                <input type="submit" value="Sign In">
            </form>
            {% if message %}
                <p style="color: red;">{{ message }}</p>
            {% endif %}
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
        <!-- add js here -->
{% endblock %}
