{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Sign Up{% endblock %}
{% block style %}
        <!--Add your custom style here-->
{% endblock %}
{% block content %}
        <div class="content">
            <h1>Sign Up</h1>
            <p>Sign Up to see events and more</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Sign Up">
            </form>
            {% for error in form.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
        <!-- add js here -->
{% endblock %}
