<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Prajna Prasetya | Template Page{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> 
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'jquery-3.5.1.js' %}"></script>
        <script src="{% static 'jquery-ui.js' %}"></script>
        {% block style %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-custom fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}"><text class="nav-text">Prajna Prasetya</text></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="divider-vertical"></li>
                    <li class="nav-item active">
                        <a class="nav-link nav-text" href="{% url 'projects' %}"><text class="nav-text">My Projects</text></a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'stories' %}"><text class="nav-text">My Stories</text></a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'events' %}"><text class="nav-text">Events</text></a>
                    </li>
                    {% if request.session.username %}
                    <li class="divider-vertical"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle nav-text" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Halo, {{ request.session.username }}<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="dropdown-item">
                                <a class="nav-link active" href="{% url 'search' %}">Find a book<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="dropdown-item">
                                <a class="nav-link active" href="{% url 'signout' %}">Sign out<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li class="divider-vertical"></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle nav-text" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Auth<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="dropdown-item">
                                <a class="nav-link active" href="{% url 'signup' %}">Sign Up<span class="sr-only">(current)</span></a>
                            </div>
                            <div class="dropdown-item">
                                <a class="nav-link active" href="{% url 'signin' %}">Sign In<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}
        <div class="content">
            <h1>Template Page</h1>
            <table class="posts">
                <tr class="table-line"><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
        {% endblock %}
        <footer class="page-footer bg-dark fixed-bottom">
            <div class="container text-left text-md-left">
                <div class="row">
                    <div class="col mr-auto">
                        <div class="contacts-logo">
                            <a href="https://www.linkedin.com/in/prajna-prasetya/"><img src="https://www.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-512.png" width="50" height="50" alt="My LinkedIn: https://www.linkedin.com/in/prajna-prasetya/"></a>
                            <a href="https://www.instagram.com/prajnaprasetya/"><img src="https://www.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square2-128.png" width="50" height="50" alt="My Instagram: https://www.instagram.com/prajnaprasetya/"></a>
                            <a href="https://twitter.com/prajnaprasetya"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-256.png" width="45" height="45" alt="My Twitter: https://twitter.com/prajnaprasetya"></a>
                            <a href="https://www.facebook.com/prajna.prasetya"><img src="https://www.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-128.png" width="50" height="50" alt="My Facebook: https://www.facebook.com/prajna.prasetya"></a>
                            <a href="https://github.com/prajnapras19/"><img src="https://www.iconfinder.com/data/icons/social-network-7/50/29-128.png" width="50" height="50" alt="My Github: https://github.com/prajnapras19/"></a>
                            <a href="https://gitlab.com/prajnapras19/"><img src="https://www.iconfinder.com/data/icons/logos-and-brands/512/144_Gitlab_logo_logos-128.png" width="50" height="50" alt="My Gitlab: https://gitlab.com/prajnapras19/"></a>
                            <a href="mailto:prajnapras19@gmail.com"><img src="https://www.iconfinder.com/data/icons/social-icons-color/512/gmail-128.png" width="50" height="50" alt="My Gmail: mailto:prajnapras19@gmail.com"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
</html>
