{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Template{% endblock %}
{% block style %}
        <!--Add your custom style here-->
{% endblock %}
{% block content %}
        <div class="content">
            <!--add your content here-->
            <h1>Template</h1>
            <table class="posts">
                <tr class="table-line"><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td>Lorem ipsum</td></tr>
            </table>
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
{% block script %}
        <!-- add js here -->
{% endblock %}
