{% extends 'base.html' %}
{% block title %}Prajna Prasetya | Homepage{% endblock %}
{% block style %}
        <style>
            #profpic-div {
                position: absolute;
                left:15%;
            }
            #profpic {
                width: 35%;
            }
            #desc-div {
                // border: 1px solid blue;
                padding: 1% 1% 1% 1%;
                width: 40%;
                word-wrap: break-word;
                position: absolute;
                left: 50%;
            }
            #desc {
                font-size: 100%;
            }
        </style>
{% endblock %}
{% block content %}
        <div class="content">
            <div id="profpic-div">
                <img id="profpic" src="https://maung.id/static/00e61ffd2489bfe3790eb955f43886c7/32ee9/AU39.jpg">
            </div>
            <div id="desc-div">
                <text id="desc">Hello, I am Prajna Prasetya, a Computer Science undergraduate student at Universitas Indonesia since 2019</text><br><br>
                <text id="desc">Things I am good at:</text><br>
                <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/267_Python_logo-128.png" width="15%">
                <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/181_Java_logo_logos-128.png" width="15%">
                <img src="https://media.istockphoto.com/vectors/emblem-of-c-programming-language-gray-hexagon-with-the-letter-c-vector-id1211498710?b=1&k=6&m=1211498710&s=170x170&h=y-pQ7axHu1Y8LAf-xkOSMo8tOHxGBZ1CZbNU1Xuf-B0=" width="19%">
                <img src="https://i.pinimg.com/originals/99/f8/87/99f887833c475448723d3c9ac16c179b.png" width="12%">
            </div>
        </div>
        
        <div class="empty-div"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
{% endblock %}
