{% extends 'base.html' %}
{% block title %}Prajna Prasetya | My Stories{% endblock %}
{% block style %}
<script>
    $( function() {
        $("#accordion").accordion({
            heightStyle: "fill",
            collapsible: true,
        });
    } );
    window.foo = function(e) {
        e.stopPropagation();
    }
    function swapUp(event, elemId) {
        console.log(document.getElementById(elemId));
        console.log(document.getElementById(elemId).previousElementSibling.previousElementSibling);
        document.getElementById(elemId).parentNode.insertBefore(document.getElementById(elemId), document.getElementById(elemId).previousElementSibling.previousElementSibling);
    }
    function swapDown(event, elemId) {
        console.log(document.getElementById(elemId));
        console.log(document.getElementById(elemId).nextElementSibling.nextElementSibling);
        document.getElementById(elemId).parentNode.insertBefore(document.getElementById(elemId), document.getElementById(elemId).nextElementSibling.nextElementSibling.nextElementSibling);
    }
</script>
<style>
    #accordion > h3 {
        border: 1px solid black;
        border-radius: 10px;
        padding: 1%;
    }
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
</style>
{% endblock %}
{% block content %}
        <div class="content">
            <h1>My Stories</h1>
            <table class="posts">
                <tr class="table-line"><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td>
                        <p>I love to code, playing music, and discuss about many things with my friends :D</p>
                        <p>I joined NetSOS SIG in RISTEK Fasilkom UI and learn more about network and information security through CTF (Capture The Flag) and discuss about it with people who have interest with it.</p>
                        <p>Anyway, I have some nice pictures in case you want to see it (click <a href="{% url 'gallery' %}">here</a>).</p>
                    </td>
                </tr>
            </table>
            {% if courses %}
            <br>
            <p>Here is a list about courses I have done in previous semester(s):</p>
            <table class="record-table" style="border: 1px solid black;">
                <tr><td style="border: 1px solid black;"><strong>My Course(s)</strong></td><td style="border: 1px solid black;"><strong>Lecturer</strong></td><td style="border: 1px solid black;"><strong>Credits</strong></td><td style="border: 1px solid black;"><strong>Description</strong></td></tr>
                {% for course in courses %}
                <tr><td style="border: 1px solid black;">{{ course.course_name }}</td><td style="border: 1px solid black;">{{ course.lecturer}}</td><td style="border: 1px solid black;">{{ course.credits}}</td><td style="border: 1px solid black;">{{ course.description}}</td></tr>
                {% endfor %}
            </table>
            {% endif %}
            <br>
            <div id="accordion">
                <h3 id="section1_a">Achievements<button onclick="foo(event);swapDown(event, 'section1_b');swapDown(event, 'section1_a');"><i class="arrow down"></i></button><button onclick="foo(event);swapUp(event, 'section1_a');swapUp(event, 'section1_b')"><i class="arrow up"></i></button></h3>
                <div id="section1_b">
                    <ul>
                        <li>Finalist of Cyber Jawara 2020</li>
                        <li>Finalist of Capture The Flag Gemastik XIII 2020</li>
                        <li>Winner of Capture The Flag Pekan Ristek 2019</li>
                    </ul>
                </div>
                <h3 id="section2_a">Recent Activities<button onclick="foo(event);swapDown(event, 'section2_b');swapDown(event, 'section2_a');"><i class="arrow down"></i></button><button onclick="foo(event);swapUp(event, 'section2_a');swapUp(event, 'section2_b')"><i class="arrow up"></i></button></h3>
                <div id="section2_b">
                    <ul>
                        <li>Full time learner</li>
                    </ul>
                </div>
                <h3 id="section3_a">Organizations Joined<button onclick="foo(event);swapDown(event, 'section3_b');swapDown(event, 'section3_a');"><i class="arrow down"></i></button><button onclick="foo(event);swapUp(event, 'section3_a');swapUp(event, 'section3_b')"><i class="arrow up"></i></button></h3>
                <div id="section3_b">
                    <ul>
                        <li>Junior Ristek Fasilkom UI</li>
                        <li>AI Division of AMV UI</li>
                    </ul>
                </div>
                <h3 id="section4_a">Volunteering Experiences<button onclick="foo(event);swapDown(event, 'section4_b');swapDown(event, 'section4_a');"><i class="arrow down"></i></button><button onclick="foo(event);swapUp(event, 'section4_a');swapUp(event, 'section4_b')"><i class="arrow up"></i></button></h3>
                <div id="section4_b">
                    <ul>
                        <li>Scientific Commitee of CTF Compfest 12</li>
                        <li>Staff of Academic BETIS Fasilkom UI 2019</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="empty-div"><br><br><br><br><br><br><br><br></div>
{% endblock %}
